.vis-timeline {
  border: none;
}
.vis-y-axis,
.vis-legend-text,
.timeline-item,
.vis-text {
  font-family:
    IBM Plex Sans,
    sans-serif;
}

.vis-timeline .vis-data-axis {
  font-size: 12px;
}

.timeline-item {
  color: #1a1a1a;
  border-color: #1499ff;
  background-color: #d4ecff;
}

.bar-item {
  stroke: #1499ff;
  fill: #d4ecff;
}

.vis-item.timeline-item.vis-selected {
  border-color: #34b9ff;
  background-color: rgb(205, 249, 255);
}

.vis-group.vis-selected {
  stroke: #34b9ff;
  fill: rgb(205, 249, 255);
}

.vis-group {
  fill-opacity: 0;
  stroke: #1499ff;
}

div.vis-item,
rect.vis-group,
rect.vis-group.vis-selected {
  cursor: pointer;
}
path.vis-group {
  pointer-events: none;
}

.ogma-timeline-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
}
.ogma-timeline-wrapper > div {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
}
.vis-filtered {
  opacity: 0.2;
}
